<div class="slideshow-outer-wrapper">
    <div class="slideshow-inner-wrapper d-flex justify-content-lg-center">
        <div class="slideshow-product d-flex flex-column align-items-center">
            <img class="slideshow-image" src="product-doggo-image.jpg" />  
            <div class="buy-desc slideshow-desc">The funny filter kit (D'jeuns friendly)</div>
            <div class="subtext slideshow-subtext">199,00 €</div>
        </div>
        <div class="slideshow-product d-flex flex-column align-items-center">
            <img class="slideshow-image" src="product-monitor-image.jpg" />
            <!-- <div>Screen Camera off</div> -->
            <!-- <div>Mobile only</div> -->
            <div class="buy-desc slideshow-desc">Screen Camera off si texte long</div> 
            <div class="subtext slideshow-subtext">229,00 €</div>
        </div>
        <div class="slideshow-product d-flex flex-column align-items-center">
            <img class="slideshow-image" src="product-slipper-image.jpg" />
            <div class="buy-desc slideshow-desc">The Charentaiz (Yeuv Friendly)</div>
            <div class="subtext slideshow-subtext">349,95 €</div>
        </div>
    </div> 
</div>