<div class="slideshow-wrapper d-flex">
    <div class="slideshow-product d-flex flex-column align-items-center">
        <img src="" />
        <div class="caption">The funny filter kit (D'jeuns friendly)</div>
        <div class="subtext">199,00 €</div>
    </div>
    <div class="slideshow-product d-flex flex-column align-items-center">
        <img src="" />
        <!-- <div>Screen Camera off</div> -->
        <!-- <div>Mobile only</div> -->
        <div class="caption">Screen Camera off si texte long</div> 
        <div class="subtext">229,00 €</div>
    </div>
    <div class="slideshow-product d-flex flex-column align-items-center">
        <img src="" />
        <div class="caption">The Charentaiz (Yeuv Friendly)</div>
        <div class="subtext">349,95 €</div>
    </div> 
</div>