<footer class="l-footer">
    <section class="container">
        <section class="row">
            <div class="company-logo">
              <img src="colorz-logo.svg"/>
            </div>
            <div class="footer-item-wrapper d-flex flex-column flex-lg-row">
              <div class="footer-item d-flex flex-column align-items-start">
                <span class="desc footer-desc">Paris</span>
                <span class="subtext subtext-footer">16 bis avenue Parmentier</span> 
                <span class="subtext subtext-footer">75011 Paris, France</span>
              </div>
              <div class="footer-item d-flex flex-column align-items-start">
                <span class="desc footer-desc">Lyon</span>
                <span class="subtext subtext-footer">1 rue Lalande</span> 
                <span class="subtext subtext-footer">69006 Lyon, France</span>
              </div>
              <div class="footer-item d-flex flex-column align-items-start">
                <span class="desc footer-desc">Nous contacter</span>
                <span class="subtext subtext-footer">+33 (0)1 82 83 83 60</span>
                <span class="subtext subtext-footer">hello@colorz.fr</span>
              </div>
              <div class="footer-logo">
                <img src="footer-logo.svg" />   
              </div>
            </div>
        </section>
    </section>
</footer>