<footer class="l-footer">
    <section class="container">
        <section class="row">
            <div>
              <img src="colorz-logo.svg"/>
            </div>
            <div>
              <span>Paris</span>
              <span>16 bis avenue Parmentier</span> 
              <span>75011 Paris, France</span>
            </div>
            <div>
              <span>Lyon</span>
              <span>1 rue Lalande</span> 
              <span>69006 Lyon, France</span>
            </div>
            <div>
              <span>Nous contacter</span>
              <span>+33 (0)1 82 83 83 60</span>
              <span>hello@colorz.fr</span>
            </div>
            <div>
            <img src="footer-logo.svg"/>   
            </div>
        </section>
    </section>
</footer>