<section class="l-main-content">
    <section class="container">
        <section class="row">
            <section class="l-content">
                <div class="">
                    <%- include('../partials/carousel.ejs') %>
                    <div><img/>image 1 here</div>
                    <div>
                       <div>icon svg</div>
                       <h5>The pudique (or je suis en pyjama et j'assume pas) effect</h5>
                       <paragraph>Start from zero, choose your background and create your new life while impressing the collègues.</paragraph>
                       <!-- <div>Desktop only</div> -->
                       <paragraph>With our no camera mode, you can be wherever you want and be en pyjama in totale discretion with professionnalisme.</paragraph> 
                    </div>
                    <div>
                        Text with images
                        <div>Some indispensables accessories to optimize your experience</div>
                        <div>
                            <div>
                                <img/>
                                <div>The funny filter kit (D'jeuns friendly)</div>
                                <div>199,00 €</div>
                            </div>
                            <div>
                                <img/>
                                <div>Screen Camera off</div>
                                <!-- <div>Mobile only</div> -->
                                <div>Screen Camera off si texte long</div> 
                                <div>229,00 €</div>
                            </div>
                            <div>
                                <img/>
                                <div>The Charentaiz (Yeuv Friendly)</div>
                                <div>349,95 €</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>