<section class="l-main-content">
    <section class="container">
        <section class="row">
            <section class="l-content">
                <div>
                    <div>
                      <span>Du JAMAIS VU (enfin jusqu'à maintenant, du coup)</span>
                      <h5>Avec Vision.R, travaillez au bureau... comme si vous étiez encore à la maison !</h5>
                    </div>
                    <div>
                       <span>Offre speciale</span>
                       <span>799,99€</span>
                       <span>*au lieu de 1.499,99€</span>
                    </div>
                    <div>
                      <img src="sticker-icon.svg"/>    
                    </div>
                    <paragraph>Vision.R with a grand “R” like in the mot “Revolution” !
                        You are afraid to feel déstabilized with the futur retour au bureau ? 
                        With Vision.R, be rassuré.e.s ! Get instant, real time, high resolution, social videocall and feel comme à la maison. Bref, get ready to faire un carton !</paragraph>
                   <button>But it now</button>     
                </div>
                <div class="">
                    <%- include('../partials/carousel.ejs') %>
                    <div>
                        <img/>
                        image 1 here
                    </div>
                    <div>
                       <div><img src="lock-icon.svg"/></div>
                       <!-- <div>Mobile only</div> -->
                       <h5>The pudique (or je suis en pyjama et j'assume pas) effect</h5>
                       <paragraph>Start from zero, choose your background and create your new life while impressing the collègues.</paragraph>
                       <!-- <div>Desktop only</div> -->
                       <paragraph>With our no camera mode, you can be wherever you want and be en pyjama in totale discretion with professionnalisme.</paragraph> 
                    </div>
                    <div>
                        <div>Some indispensables accessories to optimize your experience</div>
                        <div>
                            <div>
                                <img/>
                                <div>The funny filter kit (D'jeuns friendly)</div>
                                <div>199,00 €</div>
                            </div>
                            <div>
                                <img/>
                                <div>Screen Camera off</div>
                                <!-- <div>Mobile only</div> -->
                                <div>Screen Camera off si texte long</div> 
                                <div>229,00 €</div>
                            </div>
                            <div>
                                <img/>
                                <div>The Charentaiz (Yeuv Friendly)</div>
                                <div>349,95 €</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>