<header class="l-masthead">
    <section class="container">
      <ul class="masthead-nav-wrapper d-flex justify-content-lg-between">
        <div href="#" class="masthead-link home-link">Vision.R</div>
        <div class="masthead-container d-none d-lg-flex align-items-center">
          <li href="#" class="masthead-link">Low Solution</li>
          <li href="#" class="masthead-link">Low Technology</li> 
          <li href="#" class="masthead-link">High Price</li> 
          <button href="#" class="buy-button"><span class="button-text">Buy It</span></button>
        </div>   
      </ul>
  </section>
  </header>