<header class="l-masthead">
    <section class="container">
      <div href="#" class="">Vision.R</div>
      <ul class="">
        <li href="#" class="">Low Solution</li>
        <li href="#" class="">Low Technology</li> 
        <li href="#" class="">High Price</li> 
        <button href="#" class="">Buy It</button>   
      </ul>
  </section>
  </header>