.footer {
  background-color: blue;
}

.l-main-content {
  border-top: #EAEAEA;
  overflow: hidden;
}

.lead-content {
  position: absolute;
  top: 10%;
  z-index: 1;
  left: 0;
  right: 0;
}

.lead-image-container {
  width: 100%;
  height: 100%;
}

.lead-image-wrapper {
  width: 100%;
  position: relative;
}

.lead-image-mobile {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.lead-image {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.subtitle {
  color: #F0380F;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  height: 48px;
  width: 233px;
  margin-bottom: 30px;
}

.caption {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}
.caption.monitor-caption {
  text-align: left;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .caption.monitor-caption {
    font-size: 46px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .caption.monitor-caption {
    font-size: 52px;
  }
}

.lead-image {
  background-image: url("lead-image.jpg");
}

.sticker-icon-wrapper {
  position: relative;
  transform: rotate(29.91deg);
}

.sticker-icon {
  position: absolute;
  right: 48px;
  bottom: 36px;
}

.sticker-text {
  position: absolute;
  width: 150px;
  right: 74px;
  bottom: 92px;
}

.text-offer {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  color: #FFF;
}

.text-price {
  font-family: Helvetica Neue;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  color: #FFF;
}

.text-second-price {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFF;
  white-space: nowrap;
}

.buy-wrapper {
  margin-top: 60px;
}

.buy-desc {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  margin-bottom: 30px;
  width: auto;
}
@media screen and (min-width: 992px) {
  .buy-desc {
    width: 813px;
  }
}

.buy-now.buy-button {
  height: 58px;
  width: 140px;
  left: 97.5px;
  top: 336px;
  padding: 18px 30px 20px 30px;
  border: none;
  margin-bottom: 60px;
}

.monitor {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@media screen and (min-width: 992px) {
  .monitor-image-wrapper {
    width: 50%;
  }
}

.monitor-image {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
@media screen and (min-width: 992px) {
  .monitor-image {
    width: 100%;
    margin-left: 0;
  }
}

.monitor-text {
  padding: 0 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 992px) {
  .monitor-text {
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
  }
}

.monitor-text-wrapper {
  width: auto;
}
@media screen and (min-width: 992px) {
  .monitor-text-wrapper {
    width: 75%;
  }
}

.lock {
  margin: 30px 0;
}
.lock img {
  height: 45px;
  width: 43px;
}

.subtext {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 992px) {
  .subtext {
    font-size: 22px;
    line-height: 34px;
  }
}

.l-masthead {
  position: absolute;
  left: 0;
  right: 0;
}

.masthead-nav-wrapper {
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.masthead-link {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 30px;
}
.masthead-link.home-link {
  font-size: 24px;
  line-height: 29.3px;
  font-weight: 500;
  text-align: center;
  padding: 30px 0;
}

.buy-button {
  height: 46px;
  width: 77px;
  top: 30px;
  border-radius: 150px;
  padding: 10px 18px 12px 18px;
  background: #F0380F;
  padding: 0;
  border: none;
}

.button-text {
  color: #FFF;
  font: 16px;
}

.carousel {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.slideshow {
  margin: 60px 0;
}

.slideshow-outer-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow-inner-wrapper {
  margin-top: 30px;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
@media screen and (min-width: 992px) {
  .slideshow-inner-wrapper {
    overflow-x: hidden;
  }
}

.slideshow-product {
  width: 285px;
  height: 368px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  margin-right: 20px;
}
.slideshow-product:last-child {
  margin-right: 0;
}
@media screen and (min-width: 992px) {
  .slideshow-product {
    width: 397px;
    height: 514px;
  }
}

.slideshow-image {
  width: 285px;
  padding: 24px 38px 14px 38px;
}
@media screen and (min-width: 992px) {
  .slideshow-image {
    width: 319px;
    padding: 51px 41px 45px 41px;
  }
}

.buy-desc.slideshow-desc {
  padding: 0 26px;
  margin-bottom: 0;
  width: auto;
}
@media screen and (min-width: 1200px) {
  .buy-desc.slideshow-desc {
    white-space: nowrap;
  }
}

.subtext.slideshow-subtext {
  margin-top: 4.87px;
}
@media screen and (min-width: 992px) {
  .subtext.slideshow-subtext {
    margin: 14px 0 35px 0;
  }
}/*# sourceMappingURL=core.css.map */