.l-main-content {
  border-top: #EAEAEA;
  overflow: hidden;
}

.l-content {
    // background-image: url("lead-image.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover; 
}

.lead-content {
    position: absolute;
    top: 10%;
    z-index: 1;
    left: 0;
    right: 0;
}

.lead-image-container {
    width: 100%;
    height: 100%;
}

.lead-image-wrapper {
    width: 100%;
    position: relative;
}

.lead-image-mobile {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.lead-image {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.subtitle {
    color: #F0380F;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    height: 48px;
    width: 233px;
    margin-bottom: 30px;
}

.caption {
    text-align: center;
    // font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;

}

.lead-image {
    background-image: url("lead-image.jpg");
}

.sticker-icon-wrapper {
    position: relative;
    transform: rotate(29.91deg);
}

.sticker-icon {
    position: absolute;
    right: 48px;
    bottom: 36px;
}

.sticker-text {
    position: absolute;
    width: 150px;
    right: 74px;
    bottom: 92px;
}

.text-offer {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #FFF;

}

.text-price {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color: #FFF;
}

.text-second-price {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
    white-space: nowrap;
}

.buy-wrapper {
    margin-top: 60px;
}

.buy-desc {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin-bottom: 30px;
    width: auto;

    @media screen and (min-width: 992px) {
        width: 813px;
     }
}

.buy-now {
    &.buy-button {
        height: 58px;
        width: 140px;
        left: 97.5px;
        top: 336px;
        padding: 18px 30px 20px 30px;
        border: none;
        margin-bottom: 60px;
    }
}